@import "../../../variables.scss";
@import "../../../mixins.scss";

.awards {
  width: 100%;
  padding: 2rem 0;

  &__list {
    width: 100%;
    @include Grid();
    list-style-type: none;
    gap: 50px;
    padding: 1rem 0;

    &__item {
      width: 100%;
      padding: 1rem;
      @include Center();
      justify-content: flex-start;
      box-shadow: 0 1px 2px 0px rgba(0, 0, 0, .3);
      position: relative;
      transition: all .3s ease-in-out;

      &:hover {
        box-shadow: 0 8px 50px -5px rgba(0, 0, 0, .1);
        top: -2px;
      }

      &__column {
        padding: 0 1.5rem;
        @include Start();
        flex-direction: column;
        gap: 15px;

        &__name {
          font-family: "Montserrat Alternates";
          font-weight: 600;
          font-size: 18px;
          color: $green;
          text-align: left;

          @media screen and (min-width: 991px) {
            font-size: 24px;
          }
        }

        &__description {
          font-family: "Montserrat Alternates";
          font-weight: 700;
          font-size: 14px;
          color: $black;

          @media screen and (min-width: 991px) {
            font-size: 20px;
          }
        }
      }

      &__img {
        min-width: 175px; height: 120px;
        object-fit: fill;
        border-radius: 10px;
      }

      @media screen and (max-width: 472px) {
        &__column__name {
          font-size: 12px;
        }

        &__column__description {
          font-size: 10px;
        }

        &__img {
          min-width: 120px!important; height: 80px!important;
        }
      }
    }
  }
}