@import "../../variables.scss";
@import "../../mixins.scss";

.footer {
  position: absolute;
  width: 100%; height: 10%;
  @include Center();
  gap: 50px;
  z-index: 1;
  bottom: 10px;

  &__link {
    color: #fff;
    transition: all .3s ease-in-out;

    svg {
      width: 30px; height: 30px;
      stroke-width: 2px;
    }

    &:hover {
      color: $green;
    }
  }
}