@import "../mixins";
@import "../variables";

section:not(.home) .header {
  @media screen and (min-width: 991px) {
    &__container__nav__links__link {
      text-shadow: none;
      color: $black;
    }

    &__container__nav__links__link.active,
    &__container__nav__links__link:hover {
      color: $green;
      text-shadow: 0 0 2px $green;
    }
  }

  background-color: #fff;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, .1);

  &__container__logo {
    text-shadow: 0 0 2px $green;

    span {
      color: $green;
    }
  }

  &__container__toggle {
    svg {
      g {
        stroke: $green;
        stroke-width: 2px;
      }
    }
  }
}

.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0; left: 0;
  padding: 1rem 2rem;

  &__container {
    width: 100%;
    @include SpaceBetween();
    align-items: center;
    padding: 0 1rem;

    &__logo {
      font-size: 25px;
      font-weight: 900;
      font-family: "Montserrat Alternates";
      letter-spacing: 2px;
      color: $black;

      span {
        color: #fff;
        font-family: "Montserrat Alternates";
      }
    }

    &__nav {
      @media screen and (min-width: 991px) {
        &__links {
          display: flex;
          gap: 50px;
  
          &__link {
            font-family: "Montserrat Alternates";
            text-decoration: none;
            text-transform: capitalize;
            font-size: 20px;
            transition: all .3s ease-in-out;
            color: #fff;
            font-weight: 800;
            text-shadow: $shadow;
  
            &:hover {
              color: $black;
            }
          }

          .active {
            color: $black;
          }
        }
      }

      &__cross {
        @media screen and (min-width: 991px) {
          display: none;
        }
      }

      @media screen and (max-width: 991px) {
        width: 300px; height: 100%;
        background-color: #fff;
        position: fixed;
        top: 0; right: 0;
        @include SpaceBetween();
        align-items: flex-start;
        padding: 40px 30px 0 40px;
        transition: all .3s ease-in-out;
        box-shadow: $shadow;
        overflow: scroll;
        z-index: 1;

        &__links {
          display: flex;
          gap: 30px;
          flex-direction: column;

          &__link {
            font-family: "Montserrat Alternates";
            text-decoration: none;
            text-transform: capitalize;
            font-size: 20px;
            transition: all .3s ease-in-out;
            color: $black;

            &:last-child {
              margin-bottom: 30px;
            }

            &:hover {
              color: $green;
              text-shadow: 0 0 2px $green;
            }
          }

          .active {
            color: $green;
            text-shadow: 0 0 2px $green;
          }
        }

        &__cross {
          background-color: transparent;
          border: none;
          font-size: 30px;
          cursor: pointer;
        }
      }
    }

    &__toggle {
      cursor: pointer;

      @media screen and (min-width: 991px) {
        display: none;
      }
    }
  }
}