@mixin SpaceBetween {
  display: flex;
  justify-content: space-between;
}

@mixin Start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin Center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin Grid {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
}