// font-family Montserrat Alternates import
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700&display=swap');

* {
  padding: 0; margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

// Selection styles
::selection {
  background-color: #C2E54F;
  color: #fff;
}

section:not(.home) {
  padding: 5rem 0 0 0;
}

.container {
  margin: 0 auto;
  padding: 1rem 2rem;

  @media (min-width: 540px) {
    max-width: 540px;
  }

  @media (min-width: 991px) {
    max-width: 991px;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}